@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container-navbar{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    min-height: 30px;
    background-color: #4FB0C6;

}
.icone{
    color:white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    padding-top: 5px;
    justify-content: space-around;
    width: 13%;
}
.nav-links li{
    list-style: none;
}
.text-logo{
    font-family: 'Permanent Marker', cursive;
    font-size: 34px;
}
.Button{
    display: inline-block;
    padding:13px 26px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:#fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    font-size:15px;
}
