.modal-wrapper{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    box-sizing: border-box;
}
.modal-background{
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 100;
    background-color:  #4FB0C6;
}
.modal-box{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.25);
}
.input-box-top{
    border-radius: 20px;
    padding: 15px;
    width: 30%;
    border: 1px solid #999;
    margin: 30px 20px 20px 0; 
}
.input-box{
    border-radius: 20px;
    padding: 15px;
    width: 64%;
    border: 1px solid #999;
    margin: 0 20px 20px 0;
    outline: none;
}
hr{
    margin-top: 5px;
    width: 100%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -10px auto 10px;
}
.Link-button{
    display: inline-block;
    width: 64%;
    margin: 0 20px 20px 0;
    padding: 13px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:#fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    font-size:20px;
}
.Error{
    text-align: justify;
    color: red;
}
ul{
    list-style-position: inside;
}
li{
    padding : 3px 0 2px 60px;
}
.X-button{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #4CAF50;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 8px;
    color: white;
    cursor: pointer;
    border-radius: 50%;
}